@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent: linear-gradient(90deg,#7c3aed,#ec4899);
}

body { @apply bg-black text-white antialiased; }
a { @apply underline-offset-4; }

.tech-card {
  @apply bg-white/5 border border-white/5 rounded-2xl p-4 backdrop-blur-sm;
}
